<mat-toolbar class="nav-bar">
    <div class="p-2 mr-auto">
        <a href="#" style="cursor:pointer">
            <img src="https://welldex-nte.com.mx/Resources/images/logo.png" alt="">
        </a>
    </div>
    <div class="menu-actions">
        <ul class="menu" id="nav-bar-opts">
            <li>
                <a href="#0"> Control de Referencias </a>
            </li>
            <li>
                <a href="#0">Pedimentos</a>
            </li>
            <li>
                <a href="#0"> Reportes generales</a>
            </li>
            <li>
                <a href="#0"> Reportes de operaciones </a>
            </li>
            <li>
                <a href="#0">Salir </a>
            </li>
        </ul>
    </div>
</mat-toolbar>

<app-form></app-form>